.w-3{
  width: 40px;
}
.w-5{
  width: 80px;
}
.w-6{
  width: 100px;
}
.object-fit-cover{
  object-fit: cover;
}
.fw-black{
  font-weight: 900;
}
.opacity-20{
  opacity: 0.2;
}
.fs2{
  font-size: 48px !important;
}